.navbar {
  width: 100%;
  background-color: #f09152; // 네비게이션 바 배경 색상
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  border-radius: 17px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__menu {
    display: flex;
    list-style: none;
    gap: 30px;

    li {
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.1s;

        &:hover {
          background-color: #eee8e5;
          color: #f37806;
          border-radius: 10px;
        }
      }
    }
  }

  &__utilities {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      color: #ffffff;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #d8f3dc;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 5px;

    .helpButton,
    .contactButton,
    .loginButton {
      display: flex;
      align-items: center;
      background-color: #f84f00;
      color: #f5f4ef;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 10px;
      border: 1px solid #a39f9b;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      .icon {
        font-size: 1.1rem;
        margin-right: 5px;
      }

      &:hover {
        background-color: #eee8e5;
        color: #f37806;
      }
    }
  }
}